{% include "molecules-header" %}
<main class="wm-big-header">
  <div class="wm-big-header__image"></div>
  <div class="container wm-search-wrapper">
    <div class="row">
      <div class="col-md-8 col-md-offset-2"><div class="logo__container"><img class="logo--home" src="../../assets/images/logo.png" alt=""></div></div>
    </div>
  <div class="row wm-search-small-wrapper"> 
    {% include "molecules-searchbox" %}
  </div>
  </div>
</main>
  <div class="row js-results" style="opacity:0;">
      <div class="col-md-2">Filters</div>
      <div class="col-md-10">
        <div class="row">
          {% include "molecules-searchresult" %}
        </div>
        <div class="row">
          {% include "molecules-searchresult" %}
        </div>
        <div class="row">
          {% include "molecules-searchresult" %}
        </div>
        <div class="row">
          {% include "molecules-searchresult" %}
        </div>
        <div class="row">
          {% include "molecules-searchresult" %}
        </div>
      </div>
  </div>

{% include "molecules-footer" %}