{% include "molecules-header" %}
<main class="wm-big-header">
  <div class="wm-big-header__image"></div>
  <div class="container wm-search-wrapper">
    <div class="row">
      <div class="col-md-8 col-md-offset-2"><div class="logo__container"><img class="logo--home" src="../../assets/images/logo.png" alt=""></div></div>
    </div>
  <div class="row wm-search-small-wrapper"> 
    {% include "molecules-searchbox" %}
  </div>
  </div>
</main>
<div class="container">
  <div class="row js-results" style="opacity:0;">
    <div class="col-md-3">
      <div class="filters-box">
        <div class="row">
          <div class="col-md-12">
            <div class="filters-title">Interests</div>
            <ul class="interests-wrapper">
              <li><img src="/assets/images/food.png" class="interest"></img></li>
              <li><img src="/assets/images/film.png" class="interest"></img></li>
              <li><img src="/assets/images/wine.png" class="interest"></img></li>
              <li><img src="/assets/images/coffee.png" class="interest"></img></li>
              <li><img src="/assets/images/shop.png" class="interest"></img></li>
              <li><img src="/assets/images/car.png" class="interest"></img></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="filters-box">
        <div class="row">
          <div class="col-md-12 filters-title">Price</div>
          <div class="slider-wrapper">
            <div id="slider" class="col-md-10"></div>
          </div>
        </div>
        <div class="row margin-top-10">
          <div class="col-md-12 slider-values-wrapper">
            <span>Max:</span><span id="slider-value-upper" class="slider-value">0</span><span>€/Hour</span>
          </div>
        </div>
        <div class="row margin-top-10">
          <div class="col-md-12 slider-values-wrapper">
            <span>Min:</span><span id="slider-value-lower" class="slider-value">0</span><span>€/Hour</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        {% include "molecules-searchresult" %}
      </div>
      <div class="row">
        {% include "molecules-searchresult" %}
      </div>
      <div class="row">
        {% include "molecules-searchresult" %}
      </div>
      <div class="row">
        {% include "molecules-searchresult" %}
      </div>
      <div class="row">
        {% include "molecules-searchresult" %}
      </div>
    </div>
  </div>
</div>

{% include "molecules-footer" %}