{% include "molecules-header" %}
<main class="wm-big-header">
  <div class="container wm-search-wrapper">
    <div class="row">
      {% include "molecules-searchbox" %}
    </div>
  </div>
</main>
{% include "molecules-footer" %}