{% include "molecules-header" %}
<main class="wm-big-header">
  <div class="container wm-search-wrapper">
    <div class="row">
      <div class="col-md-8 col-md-offset-2"><div class="logo__container"><img class="logo--home" src="../../assets/images/logo.png" alt=""></div></div>
    </div>
    <div class="row">
      {% include "molecules-searchbox" %}
    </div>
  </div>
</main>
{% include "molecules-footer" %}