{% include "molecules-header" %}
  <div class="container">
    <div class="row wm-search-small-wrapper wm-search-small-wrapper--standalone"> 
      {% include "molecules-searchbox" %}
    </div>
    <div class="row">
        <div class="col-md-3">
        {% include "molecules-search-filters" %}
        </div>
        <div class="col-md-9">
          {% include "molecules-searchresults" %}
        </div>
    </div>
  </div>
{% include "molecules-footer" %}