node_modules/
bower_components
.DS_Store
public/**/*
export/**/*
config.ini
latest-change.txt
.vim
patternlab.json
.sass-cache/*
/sass-cache
source/images/Thumbs.db
source/css/style.css.map
composer.phar
packages/
vendor/
source/assets/
source_pl-node/images/Thumbs.db
source_pl-node/css/style.css.map
