<div class="row row--first">
	<div class="col-md-2">
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<h1>Create a Plan for Edgar</h1>
			</div>
		</div>
		<div class="row">
			{% include "molecules-traveler_suggestion" %}
		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-2">
		<h3>Instructions:</h3>
<p>Make sure you plan with appropriate time windows.</p><p>Don't forget the transportation times. You can add multiple steps.</p><p>Remember that when it comes to guiding, less can be more!</p>
	</div>
<div class="col-md-9">
	<div class="row">
		<div class="col-md-12">
			{% include "molecules-form-plan" %}
		</div>
	</div>
</div>


