<div class="row row--first">
	<div class="col-md-2">
		Instructions
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<h1>Create a Plan for Edgar</h1>
			</div>
		</div>
		<div class="row">
			{% include "molecules-traveler_suggestion" %}
		</div>
		{% include "molecules-form-plan" %}
	</div>
</div>
