/**
 * TODO General: Get all z-indexes in order
 * TODO General: Build fallback styles for the case when JS is not available
 * TODO General: Build fallback for responsive tables
 * TODO General: Build fallback for responsive tabs
 */

// // setup
// @import "variables";
// @import "utilities";

// TODO: Replace Bootstrap with SASS implementation
@import 'vendors/bootstrap';
// @import 'vendors/font-awesome';
// @import 'vendors/animate';
// @import 'vendors/owl.carousel';
// @import 'vendors/jquery.nouislider';
// @import 'vendors/jquery.nouislider.pips';

// modules
// @import "fonts";
// @import "contentdetail";
// @import "contentoverview";
// @import "text";
// @import "custom-icons";
// @import "navigation";
// @import "button";
// @import "cart";
// @import "form";
// @import "search";
// @import "product-sheet";
// @import "footer";
// @import "switch--language-country";
// @import "alternative-products";
// @import "tabs";
// @import "panel";
// @import "flyout";
// @import "product-thumb";
// @import "table";
// @import "tables";
// @import "account-data";
// @import "order-data";
// @import "mini-cart";
// @import "arrow-box";
// @import "my-account";
// @import "video";
// @import "hotspots";
// @import "tooltips";
// @import "applications";
// @import "teaser";
// @import "downloads";
// @import "cookie-notice";
// @import "notifications";
// @import "puzzle";
// @import "stageslider";
// @import "slide-toggle";
// @import "sector-list";
// @import "searchresults";
// @import "toolbar";
// @import "carousel";
// @import "shop";
// @import "image-loader";
// // misc
// @import "todo";
// @import "hotfix";

// @import "print";

 .wm-big-header {
  position: relative;
  padding: 60px 0;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: url("../../images/back1.jpg");
  background-repeat: repeat-x;
}

.input-large {
  width: 150px;
}

.wm-search-wrapper {
  padding: 189px 0 125px 0px;
}

.wm-search-small-wrapper {
  padding: 75px 0px 25px 0px;
}

.footer {
  background-color: #222;
}
