<div class="searchbox">
  <div class="col-md-2">
    <img src="../../assets/images/{{person.image}}" alt="..." class="img-responsive" />
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-8">
        <div class="searchbox-short-description">Discover Dubai in one afternoon!</div>
      </div>
      <div class="col-md-1">
        <div class="searchbox-short-description">{{person.rate}}&nbsp;€/Hour</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="searchbox-name">{{person.name}} - Dubai, United Arab Emirates</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {% for i in 1..person.stars %}
          <img src="../../assets/images/star.png" class="rating"></img>
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <ul class="interests-wrapper">
          <li><img src="../../assets/images/food.png" class="interest"></img></li>
          <li><img src="../../assets/images/film.png" class="interest"></img></li>
          <li><img src="../../assets/images/wine.png" class="interest"></img></li>
        </ul>
      </div>
    </div>
  </div>
</div> 